DATABASE_URL=postgresql://user:password@localhost:5432/chatbot_saas
OPENAI_API_KEY=sk-...
GROQ_API_KEY=gsk_...
GROQ_MODEL=llama-3.3-70b-versatile
NEXT_PUBLIC_BASE_URL=https://your-chatbot.vercel.app

RESEND_API_KEY="Your Resend API Key"
RESEND_FROM_EMAIL="Your Resend Email"